<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/homepage.css"/>
</head>
<body>  
    <div id="title">
      <div class="title--grid">
        <h2>CampusCommerce</h2>
        <a id="news" href="/">News & Events</a>
        <a id="contact" href="/">Contact & Visit</a>
        <a id="info" href="/signout">|Sign Out</a>
      </div>
    </div>
    <div id="Organization">
       <h1><%= board.boardName %></h1>
    </div>
    
    <div id="navcontainer">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ABOUT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Club Information</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INVENTORY
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Current Orders</a>
                    <a class="dropdown-item" href="#">Order History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Tracking</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PURCHASING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/purchaseRequest">Purchase Request
                    
                  </a>
                  <script>
                    document.getElementById('purchaseRequestLink').addEventListener('click', function(e) {
                      e.preventDefault(); // Prevent the default anchor behavior
                      
                      const contentContainer = document.querySelector('.container--grid'); // Select your content container
                      // Generate the HTML for the purchase request form
                      contentContainer.innerHTML = `
                        <form id="purchaseRequestForm">
                          <h2>Purchase Request Form</h2>
                          <div>
                            <label for="item">Item Name:</label>
                            <input type="text" id="item" name="item" required>
                          </div>
                          <div>
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" required>
                          </div>
                          <div>
                            <label for="reason">Reason for Purchase:</label>
                            <textarea id="reason" name="reason" required></textarea>
                          </div>
                          <div>
                            <label for="dateNeeded">Date Needed:</label>
                            <input type="date" id="dateNeeded" name="dateNeeded" required>
                          </div>
                          <button type="submit">Submit Request</button>
                        </form>
                      `;
                      // Add any additional JavaScript for form validation or submission here
                    });
                  </script>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/currentRequests?boardId=<%= encodeURIComponent(board.boardID) %>">Current Requests</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    FINANACE
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Funding</a>
                    <a class="dropdown-item" href="#">Expenditure</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/graphPage?boardId=<%= encodeURIComponent(board.boardID) %>">Chart</a>
                  </div>
                </li>
            </ul>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#401F68" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </form>
        </div>
      </nav>
      </div>
      <div id="inventory" class="tab-content">
        <h2>Inventory</h2>

    
        <!-- Now creating a place for the user to upload a purchase form  -->
        <input type="file" id="csvFileInput" accept=".csv">
        <form method="post" action="/clubPurchaseRequest">
          <table id="csvTable" border="1">
              <thead></thead>
              <tbody></tbody>
              <input name="boardID" hidden="true" value="<%= board.boardID %>"></input>
          </table>
          <button type="submit" hidden="true" id="purchaseRequestButton">Submit</button>
        </form>
    

    
        <!-- The following extracts information from a purchase form and inserts the information into a table -->
        <!-- The cells within the table can be edited  -->
        <script>
            
            var headerTemplate = ["Retailer", "Item Name", "Part Number", "Price", "Quantity", "Link", "Notes"]
            var nameList = ["retailer[]", "itemName[]", "partNumber[]", "price[]", "quantity[]", "link[]", "notes[]"]

            document.getElementById('csvFileInput').addEventListener('change', function() {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        var csvData = event.target.result;
                        var csvRows = csvData.split('\n');
                        var tableBody = document.querySelector('#csvTable tbody');
                        var tableHeaders = document.querySelector('#csvTable thead');
    
                        // Clear existing table contents
                        tableBody.innerHTML = '';
                        tableHeaders.innerHTML = '';
    
                        // Extract headers from the first row
                        var headers = csvRows[0].split(',');

                        // Check to see if headers match up -- Nasen Wilson
                        for (let i = 0; i < headers.length; i++) {
                          if (headers[i].trim() !== headerTemplate[i].trim())
                          {
                              console.log("Dud");
                              console.log(headers[i] === headerTemplate[i])
                              console.log(headers[i])
                              console.log(headerTemplate[i])
                              return;
                          }
                          // console.log(headers[i])
                          // console.log(headerTemplate[i])
                        }
    
                        // Populate table headers
                        var headerRow = document.createElement('tr');
                        headers.forEach(function(header) {
                            var th = document.createElement('th');
                            th.textContent = header.trim();
                            headerRow.appendChild(th);
                        });
                        tableHeaders.appendChild(headerRow);
    
                        // Populate table rows
                        csvRows.slice(1).forEach(function(csvRow) {
                            var rowCells = csvRow.split(',');
                            var tableRow = document.createElement('tr');

                            var headerCounter = 0;

                            if (rowCells.length > 1) {
                            
                            var requestButton = document.getElementById("purchaseRequestButton");
                            requestButton.hidden = false;

                            rowCells.forEach(function(cellData) {
                                var tableCell = document.createElement('td');
                                var cellInput = document.createElement('input');
                                tableCell.appendChild(cellInput);
                                cellInput.value = cellData.trim();
                                cellInput.type = "text";
                                cellInput.name = (nameList[headerCounter]).trim();
                                tableRow.appendChild(tableCell);
                                headerCounter++;
                            });
                            tableBody.appendChild(tableRow);
                          }
                        });
                    };
                    reader.readAsText(file);
                }
            });

            
    
        </script>
    
    </div>


    
    <script src="javascripts/hackathonScript.js"></script>
      
    <footer class="footercontainer">
        <div class="footer--grid">
            <h3>Washington State <br>University</h3>
            <div class="link--grid">
                
            </div>
            <h6>all righters reserved CampusCommerce</h6>
        </div>
    </footer>
</body>
<script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>